.container
{
    width: 100%;
    max-width: 1800px;
    margin: 1% auto;
}

*,
*::after
*::before {
   box-sizing: border-box;
}


/* HEADER */

.header
{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: black;
}

.headerMenu
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body
{
    background: #051C20;
}


/* LOGO */

.logo
{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    color: gray;
}

/* NAVIGATION */

.navigation
{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}

.CommonObj
{
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;

    color: gray;
    text-decoration: none;

    transition: color 0.2s linear;
}

.PSObj
{
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;

    color: gray;
    text-decoration: none;

    transition: color 0.2s linear;
}

.XBOXObj
{
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;

    color: gray;
    text-decoration: none;

    transition: color 0.2s linear;
}

.SWITCHObj
{
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;

    color: gray;
    text-decoration: none;

    transition: color 0.2s linear;
}

.PSObj:hover
{
    color:blue;
}

.XBOXObj:hover
{
    color:chartreuse;
}

.CommonObj:hover
{
    color:aliceblue;
}

.SWITCHObj:hover
{
    color:crimson;
}

/*MainBlock*/

.MainBlock
{
    padding-top: 80px;
    width: 100%;
    height: 100vh;
    position: absolute;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100% 100%;
}

.PhotoBlock
{
    object-fit: cover;
    width: 100%;
    margin: 0 auto;
}

.Photo
{
    padding-top: 500px;
    width: 100%;
    margin: 0 auto;
    background:
    url("../assetsContact/img/ФОН.jpg")
    no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    border: black solid 5px;
}

.Avatarka
{
    position: absolute;
    z-index:  100;
    top:      1%;

    width: 50%;
    height: 75%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;


    margin-top: 13%;
    margin-left: 40%;
    max-width: 500px;
    width: 100%;
    height: 35%;
    border: black solid 3px;

    background:
    left 100% / 100% no-repeat
    url("../assetsContact/img/MyPhoto.jpg");
}

.TextUnderPhoto
{
    width: 100%;
    height: 100%;
}

.TextUnderPhoto p
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 50px;
    color: whitesmoke;
    opacity: 80%;
    padding-top: 16%;
    text-align: center;
}

/*Link*/

.LinkBlock
{
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    color: whitesmoke;
    text-transform: uppercase;
    text-align: center;
}

.LinkBlock i
{
    width: 100%;
    height: 100%;
    font-size: 50px;
    color: antiquewhite;
}