.container
{
    max-width: 1200px;
    margin: 0 auto;
    
}

*,
*::after
*::before {
   box-sizing: border-box;
}

/* HEADER */

.header
{
    height: 5em;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: black;
}

.headerMenu
{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body
{
    background: #107C10;
    padding: 0;
    margin: 0;
}

/* LOGO */

.logo
{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}

.logo a 
{
    color: gray;
    text-decoration: none;
}

/* NAVIGATION */

.navigation
{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}



.CommonObj
{
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;

    color: gray;
    text-decoration: none;

    transition: color 0.2s linear;
}

.PSObj
{
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;

    color: gray;
    text-decoration: none;

    transition: color 0.2s linear;
}

.XBOXObj
{
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;

    color: gray;
    text-decoration: none;

    transition: color 0.2s linear;
}

.SWITCHObj
{
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;

    color: gray;
    text-decoration: none;

    transition: color 0.2s linear;
}

.PSObj:hover
{
    color:blue;
}

.XBOXObj:hover
{
    color:chartreuse;
}

.CommonObj:hover
{
    color:aliceblue;
}

.SWITCHObj:hover
{
    color:crimson;
}

/* MAIN */

.MainBOXBlock
{ 
    margin-top: 5%;
    height: 1144px;
}

.MainBOXContainer
{
    max-height: 944px;
    margin: 0 auto;
    max-width: 1900px;
    height: 100%;
    background: url("../XBOXimg/ФОН_XBOX.jpg") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    box-shadow: 0 0 100px black;
}

.TitleBox
{
    height: 200px;
    margin: 0 auto;
    max-width: 1900px;
    background-color: #E6E6E6;
}

.TitleBox h3
{
    margin: 0 auto;
    text-align: center;
    font-size: 80px;
    color: #107C10;
    font-family: 'Questrial', sans-serif;
}

/* DualConsole */

.dualConsoleContainer
{
    max-width: 1600px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 50px black;
}

/* XBOX X */

.XBOX
{
    padding-top: 10%;
    margin: 0 auto;
    height: 720px;
    max-width: 1600px;
    background: url("../XBOXimg/XBOXSeriesX.webp") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    display: flex;
    align-content: space-between;
    gap: 25%;
}

.Text
{
    padding-top: 10%;
    font-size: 25px;
    align-self: center;
    margin-left: auto;
    height: 100%;
    width: 35%;
    font-family: 'Questrial', sans-serif;
}

.dualConsoleContainer h2
{
    font-size: 65px;
    color:#107C10;
    margin: 0 auto;
    font-family: 'Questrial', sans-serif;
    text-align: center;
    padding-bottom: 5%;
}

/* XBOX S */

.XBOXS
{
    padding-top: 15%;
    margin: 0 auto;
    max-width: 1600px;
    height: 900px;
    display: flex;
    align-content: space-between;
}

.XBOXSPhoto
{
    height: 790px;
    max-width: 820px;
    width: 100%;
    background: url("../XBOXimg/XBOXS.webp")no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    margin: 0 auto;
}

.XBOXSText
{
    padding-top: 30%;
    font-size: 25px;
    align-self: center;
    margin-left: auto;
    height: 100%;
    width: 35%;
    font-family: 'Questrial', sans-serif;
}

/* PerformanceContainer */

.PerformanceContainer
{
    padding-top: 15%;
    max-width: 1600px;
    height: 1700px;
    margin: 0 auto;
    background-color: #1F1F21;
    box-shadow: 0 0 50px black;
}

.PerformanceContainer h2
{
    margin-right: auto;
    font-size: 85px;
    color:#107C10;
    margin: 0 auto;
    font-family: 'Questrial', sans-serif;
    text-align: center;
    /* box-shadow: 0 0 50px black; */
}

.PerformanceContainer h3
{
    margin-right: auto;
    font-size: 45px;
    color:#107C10;
    margin: auto;
    font-family: 'Questrial', sans-serif;
    text-align: center;
    /* box-shadow: 0 0 50px black; */
}

.PerformanceContainer p
{
    color: #E6E6E6;
    padding-top: 5%;
    font-size: 45px;
    text-align: justify;
    margin: 0 auto;
    width: 75%;
    font-family: 'Questrial', sans-serif;
    padding-bottom: 5%;
}


/* MASH */
.StatsMash
{
    padding-top: 5%;
    height: 800px;
    max-width: 1450px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    gap: 5em;
}

.block.icons h3
{  
    margin: 0 auto;
    color: #107C10;
    font-size: 35px;
    font-family: 'Questrial', sans-serif;
}

.block.icons i
{
    margin: 0 auto;
    color: #107C10;
    font-size: 45px;
}

.block
{
    align-self: center;
    margin: 0 auto;
    text-align: center;
    color: #E6E6E6;
    font-size: 25px;
    font-family: 'Questrial', sans-serif;
}

.block.XBOXName
{
    text-align: center;
    color:#107C10;
    font-size: 45px;
    font-family: 'Questrial', sans-serif;
}

/* TestBlock */
.TestVideoBlock
{
    border-radius: 35px;
    margin: 0 auto;
    max-width: 1800px;
    height: 600px;
    background-color: white;
    box-shadow: 0 0 50px black;
    display: flex;
    justify-content: space-between;
}

.TestVideoBlock iframe
{
    max-width: 900px;
    margin: auto;
}

.TextVideo
{
    margin: auto;
    width: 40%;
}

.TextVideo h3
{
    font-family: 'Questrial', sans-serif;
    text-align: center;
    color: #107C10;
    font-size: 75px;
    padding-bottom: 2%;
}

.TextVideo p
{
    margin: 0 auto;
    text-align: center;
    color: #1F1F21;
    font-size: 35px;
    font-family: 'Questrial', sans-serif;
}

/* Cards */
.CardsBlock
{
    height: 1200px;
    max-width: 1600px;
    margin: 0 auto;
    background-color: #1F1F21;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    box-shadow: 0 0 50px black;
}

.CardsBlock h3
{
    text-transform: uppercase;
    font-family: 'Questrial', sans-serif;
    text-align: center;
    color: #107C10;
    font-size: 75px;
    padding-top: 5%;
    padding-bottom: 2%;
}

.CardsContainer
{
    max-width: 1300px;
    height: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 5%;
}

.XBOXCard
{
    border-radius: 30px;
    width: 550px;
    height: 800px;
    background-color:white;

    transition: 0.8s;
}

.PhotoXBOXCard
{
    border-radius: 30px;
    width: 100%;
    height: 80%;
    background: url("../XBOXimg/XBOXSeriesX.webp")no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}

.InfoXBOXCard
{
    border-radius: 30px;
    width: 100%;
    height: 20%;
    background-color:white;
    
    transition: 0.8s;
}

.InfoXBOXCard p
{
    text-align: center;
    padding-top: 10%;
    opacity: 0;
    font-size: 50px;
    font-family: 'Questrial', sans-serif;

    transition: 0.8s;
}

.XBOXCard:hover > .InfoXBOXCard
{
    transform: translateY(25%);
}

.XBOXCard:hover > .InfoXBOXCard p
{
    opacity: 1;
}

.XBOXSCard
{
    border-radius: 30px;
    width: 550px;
    height: 800px;
    background-color:white;

    transition: 0.8s;
}

.PhotoXBOXSCard
{
    border-radius: 30px;
    margin: 0 auto;
    width: 100%;
    height: 80%;
    background: url("../XBOXimg/XBOXS.webp")no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.InfoXBOXSCard
{
    border-radius: 30px;
    width: 100%;
    height: 20%;
    background-color: white;
    
    transition: 0.8s;
}

.InfoXBOXSCard p
{
    text-align: center;
    padding-top: 10%;
    opacity: 0;
    font-size: 50px;
    font-family: 'Questrial', sans-serif;

    transition: 0.8s;
}

.XBOXSCard:hover > .InfoXBOXSCard
{
    transform: translateY(25%);
}

.XBOXSCard:hover > .InfoXBOXSCard p
{
    opacity: 1;
}

/* FOOTER */

.footer
{
    background: black;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p
{
    font-family: sans-serif;
    color: white;
    font-size: 13px;
}


/* Адаптив */
/* 320 - 450 */
@media screen and (min-width: 320px) and (max-width: 450px){
    .container
    {
        max-width: 300px;
    }

    .header
    {
        height: 3em;
    }

    .headerMenu
    {
        padding-top: 15px;
    }

    .logo
    {
        font-size: 15px;
    }

    .navigation
    {
        font-size: 7px;
    }

    .MainBOXBlock
    { 
        margin-top: 5%;
        max-height: 544px;
    }
    
    .MainBOXContainer
    {
        max-height: 504px;
        max-width: 450px;
    }
    
    .TitleBox
    {
        height: 50px;
        max-width: 450px;
    }
    
    .TitleBox h3
    {
        font-size: 15px;
    }

    .XBOX
    {
        height: 200px;
        max-width: 300px;
        gap: 35%;
    }
    
    .Text
    {
        font-size: 7px;
        width: 25%;
    }
    
    .dualConsoleContainer h2
    {
        font-size: 14px;
        padding-bottom: 5%;
    }

    .XBOXS
    {
        padding-top: 15%;
        max-width: 300px;
        height: 400px;
    }

    .XBOXSPhoto
    {
        height: 220px;
        max-width: 300px;
    }

    .XBOXSText
    {
        padding-top: 30%;
        font-size: 7px;
        width: 35%;
    }

    .PerformanceContainer
    {
        max-width: 315px;
        height: 700px;
    }

    .PerformanceContainer h2
    {
        font-size: 14px;
    }

    .PerformanceContainer h3
    {
        font-size: 10px;
    }

    .PerformanceContainer p
    {
        font-size: 10px;
    }


    /* MASH */
    .StatsMash
    {
        height: 600px;
        max-width: 310px;
        gap: 0em;
    }

    .block.icons h3
    {  
        font-size: 10px;
    }

    .block.icons i
    {
        font-size: 14px;
    }

    .block
    {
        font-size: 7px;
    }

    .block.XBOXName
    {
        font-size: 12px;
    }

    .TestVideoBlock
    {
        max-width: 315px;
        height: 200px;
    }
    
    .TestVideoBlock iframe
    {
        width: 150px;
        height: 110px;
    }
    
    .TextVideo
    {
        width: 45%;
    }
    
    .TextVideo h3
    {
        font-size: 10px;
    }
    
    .TextVideo p
    {
        font-size: 7px;
    }
    
    .CardsBlock
    {
        height: 350px;
        max-width: 310px;
    }
    
    .CardsBlock h3
    {
        font-size: 15px;
    }
    
    .CardsContainer
    {
        max-width: 300px;
        height: 300px;
        gap: 2%;
    }
    
    .XBOXCard
    {
        width: 120px;
        height: 230px;
    }

    .InfoXBOXCard
    {
        padding-top: 1%;
    }
    
    .InfoXBOXCard p
    {
        font-size: 8px;
    }
    
    .XBOXSCard
    {
        width: 120px;
        height: 230px;
    }
    
    .InfoXBOXSCard
    {
        padding-top: 1%;
    }

    .InfoXBOXSCard p
    {
        font-size: 8px;
    }

    .XBOXSCard:hover > .InfoXBOXSCard
    {
        transform: translateY(10%);
    }

    .XBOXCard:hover > .InfoXBOXCard
    {
        transform: translateY(10%);
    }

    .footer
    {
        height: 45px;
    }
    
    .footer p
    {
        font-size: 8px;
    }
}

/* 450 - 768 */
@media screen and (min-width: 451px) and (max-width: 767px){
    .container
    {
        max-width: 430px;
    }

    .header
    {
        height: 3em;
    }

    .logo
    {
        font-size: 20px;
    }

    .navigation
    {
        font-size: 10px;
    }

    .MainBOXBlock
    { 
        margin-top: 5%;
        height: 1144px;
    }
    
    .MainBOXContainer
    {
        max-height: 944px;
        max-width: 1024px;
    }
    
    .TitleBox
    {
        height: 200px;
        max-width: 768px;
    }
    
    .TitleBox h3
    {
        font-size: 35px;
    }

    .XBOX
    {
        height: 300px;
        max-width: 430px;
        gap: 35%;
    }
    
    .Text
    {
        font-size: 9px;
        width: 35%;
    }
    
    .dualConsoleContainer h2
    {
        font-size: 22px;
        padding-bottom: 5%;
    }

    .XBOXS
    {
        padding-top: 15%;
        max-width: 430px;
        height: 600px;
    }

    .XBOXSPhoto
    {
        height: 300px;
        max-width: 430px;
    }

    .XBOXSText
    {
        padding-top: 30%;
        font-size: 9px;
        width: 35%;
    }

    .PerformanceContainer
    {
        max-width: 430px;
        height: 750px;
    }

    .PerformanceContainer h2
    {
        font-size: 20px;
    }

    .PerformanceContainer h3
    {
        font-size: 15px;
    }

    .PerformanceContainer p
    {
        font-size: 14px;
    }


    /* MASH */
    .StatsMash
    {
        height: 600px;
        max-width: 430px;
        gap: 1em;
    }

    .block.icons h3
    {  
        font-size: 15px;
    }

    .block.icons i
    {
        font-size: 20px;
    }

    .block
    {
        font-size: 10px;
    }

    .block.XBOXName
    {
        font-size: 15px;
    }

    .TestVideoBlock
    {
        max-width: 450px;
        height: 200px;
    }
    
    .TestVideoBlock iframe
    {
        width: 200px;
        height: 140px;
    }
    
    .TextVideo
    {
        width: 45%;
    }
    
    .TextVideo h3
    {
        font-size: 15px;
    }
    
    .TextVideo p
    {
        font-size: 10px;
    }
    
    .CardsBlock
    {
        height: 500px;
        max-width: 430px;
    }
    
    .CardsBlock h3
    {
        font-size: 25px;
    }
    
    .CardsContainer
    {
        max-width: 410px;
        height: 400px;
        gap: 2%;
    }
    
    .XBOXCard
    {
        width: 170px;
        height: 280px;
    }

    .InfoXBOXCard
    {
        padding-top: 5%;
    }
    
    .InfoXBOXCard p
    {
        font-size: 15px;
    }
    
    .XBOXSCard
    {
        width: 170px;
        height: 280px;
    }
    
    .InfoXBOXSCard
    {
        padding-top: 5%;
    }

    .InfoXBOXSCard p
    {
        font-size: 15px;
    }

    .XBOXSCard:hover > .InfoXBOXSCard
    {
        transform: translateY(10%);
    }

    .XBOXCard:hover > .InfoXBOXCard
    {
        transform: translateY(10%);
    }

    .footer
    {
        height: 60px;
    }
    
    .footer p
    {
        font-size: 10px;
    }
}


/* 768 - 1024 */
@media screen and (min-width: 767px) and (max-width: 1024px){
    .container
    {
        max-width: 700px;
    }

    .header
    {
        height: 5em;
    }

    .headerMenu
    {
        margin-top: 5px;
    }

    .logo
    {
        font-size: 30px;
    }

    .navigation
    {
        font-size: 14px;
    }

    .MainBOXBlock
    { 
        margin-top: 5%;
        height: 1144px;
    }
    
    .MainBOXContainer
    {
        max-height: 944px;
        max-width: 1024px;
    }
    
    .TitleBox
    {
        height: 200px;
        margin: 0 auto;
        max-width: 1024px;
        background-color: #E6E6E6;
    }
    
    .TitleBox h3
    {
        margin: 0 auto;
        text-align: center;
        font-size: 80px;
        color: #107C10;
        font-family: 'Questrial', sans-serif;
    }

    .XBOX
    {
        height: 720px;
        max-width: 720px;
        gap: 35%;
    }
    
    .Text
    {
        font-size: 15px;
        width: 30%;
    }
    
    .dualConsoleContainer h2
    {
        font-size: 35px;
        padding-bottom: 5%;
    }

    .XBOXS
    {
        padding-top: 15%;
        max-width: 700px;
        height: 800px;
    }

    .XBOXSPhoto
    {
        height: 500px;
        max-width: 768px;
    }

    .XBOXSText
    {
        padding-top: 30%;
        font-size: 15px;
        width: 35%;
    }

    .PerformanceContainer
    {
        max-width: 700px;
        height: 1000px;
    }

    .PerformanceContainer h2
    {
        margin-right: auto;
        font-size: 40px;
    }

    .PerformanceContainer h3
    {
        margin-right: auto;
        font-size: 25px;
    }

    .PerformanceContainer p
    {
        font-size: 17px;
    }


    /* MASH */
    .StatsMash
    {
        height: 600px;
        max-width: 650px;
        gap: 2em;
    }

    .block.icons h3
    {  
        font-size: 25px;
    }

    .block.icons i
    {
        font-size: 30px;
    }

    .block
    {
        font-size: 15px;
    }

    .block.XBOXName
    {
        font-size: 27px;
    }

    .TestVideoBlock
    {
        border-radius: 18px;
        max-width: 768px;
        height: 400px;
    }
    
    .TestVideoBlock iframe
    {
        width: 400px;
        height: 300px;
    }
    
    .TextVideo
    {
        width: 45%;
    }
    
    .TextVideo h3
    {
        font-size: 35px;
    }
    
    .TextVideo p
    {
        font-size: 20px;
    }
    
    .CardsBlock
    {
        height: 700px;
        max-width: 700px;
    }
    
    .CardsBlock h3
    {
        font-size: 45px;
    }
    
    .CardsContainer
    {
        max-width: 650px;
        height: 600px;
        gap: 2%;
    }
    
    .XBOXCard
    {
        width: 300px;
        height: 450px;
    }
    
    .InfoXBOXCard p
    {
        font-size: 30px;
    }
    
    .XBOXSCard
    {
        width: 300px;
        height: 450px;
    }
    
    .InfoXBOXSCard p
    {
        font-size: 30px;
    }

    .XBOXSCard:hover > .InfoXBOXSCard
    {
        transform: translateY(12%);
    }

    .XBOXCard:hover > .InfoXBOXCard
    {
        transform: translateY(12%);
    }
}

/* 1024 - 1960 */
@media screen and (min-width: 1200px) and (max-width: 1960px){
    .container
    {
        max-width: 1000px;
    }

    .header
    {
        height: 5em;
    }

    .headerMenu
    {
        margin-top: 5px;
    }

    .logo
    {
        font-size: 35px;
    }

    .navigation
    {
        font-size: 18px;
    }
}